/* responsivity */
@media only screen and (min-width: 601px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .border {
    aspect-ratio: 4/3;
  }

  .text-container p,
  .text-container-grid p {
    display: contents;
  }
}

@media only screen and (min-width: 1041px) {
  header div p {
    font-size: 12px;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1601px) {
  .border {
    aspect-ratio: 3/2;
  }
}
