@import url("public-sans/public-sans-v1.003/otf");

/* Reset and Base Styles */
* {
  font-family: "Public Sans", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Public Sans", sans-serif;
  background-color: #d6f7ed;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Navigation */
nav {
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 0.05em solid black;
  z-index: 100;
}

/* Header Section */
.title {
  height: 100vh;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
}

.title h1 {
  font-size: clamp(2.5rem, 3rem, 4rem);
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1.1;
}

.gradient-text {
  background: linear-gradient(
    45deg,
    #4caf50,
    #2196f3,
    #8bc34a,
    #00bcd4,
    #4caf50
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientAnimation 10s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 50% 100%;
  }

  75% {
    background-position: 50% 0%;
  }
}

/* Text Sections */

address {
  font-size: 0.75rem;
}
.text {
  max-width: 1200px;
  margin: 5% auto;
  padding: 0 2rem;
  line-height: 1.8;
  opacity: 1;
}

.text h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  max-width: 80%;
}

.text h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
}

.text p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

a {
  color: #2196f3;
  text-decoration: underline;
}

a:hover {
  color: #ffffff;
}

#mainTitle h1 {
  color: white;
}
